<div class="text-center">
  <h2>{{username}}</h2>
  {{#each Blogposts as |post| }}
<div class="row mb-4 Blogpost">
  <div class="col-md-5">
    <h2>
      <a href="/homepage/{{post.id}}">{{post.username}}</a>
    </h2>
    <p>
      <span class="Blogpost-contents">{{post.contents}}</span>
      
    </p>
    <p>Created by {{post.username}} on {{format_date post.date}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.contents}}
    </p>
  </div>
</div>
{{/each}}
  <p>
    <button class="btn btn-primary">New Post!</button>
  </p>
</div>
{{log this}}