<!-- Loop over each object in the blogpost array -->
{{#each blogData as |post| }}
<div class="row mb-4 Blogpost">
  <div class="col-md-5">
    <h2>
      <a href="/Blogpost/{{post.id}}">{{post.posttitle}}</a>
    </h2>
    <p>Created by {{post.user.username}} on {{format_date post.date}}</p>
  </div>
</div> 

{{/each}}
{{log this}}
