<!-- Loop over each object in the blogpost array -->
{{#each blogData as |post| }}
<div class="row mb-4 Blogpost">
  <div class="col-md-5">
    <h2>
      <a href="/homepage/{{post.id}}">{{post.posttitle}} by {{post.username}}</a>
    </h2>
    <p>
      <span class="Blogpost-contents">{{post.contents}}</span>
      
    </p>
    <p>Created by {{post.user.username}} on {{format_date post.date}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.contents}}
    </p>
  </div>
</div>
<div class="row mb-4 post">
  <a class="btn btn-primary" href="/Blogpost/:id" role="button">Comment</a>
   <div class="form-group">
        <label for="Blogpost-comments">comments:</label>
        <input class="form-input" type="text" id="Blogpost-comments" name="Blogpost-comments" />
      </div>
</div>
{{/each}}
{{log this}}
