<!-- Loop over each object in the blogpost array -->
{{#each Blogpost as |Blogpost| }}
<div class="row mb-4 Blogpost">
  <div class="col-md-5">
    <h2>
      <a href="/homepage/{{Blogpost.id}}">{{Blogpost.username}}</a>
    </h2>
    <p>
      <span class="Blogpost-contents">{{Blogpost.contents}}</span>
      
    </p>
    <p>Created by {{Blogpost.user.username}} on {{format_date Blogpost.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{Blogpost.contents}}
    </p>
  </div>
</div>
{{/each}}
{{log this}}
